@import "tailwindcss";

@font-face {
  font-family: "Dana";
  font-style: normal;
  font-weight: 100;
  src:
    url("/fonts/woff2/Dana-Hairline.woff2") format("woff2"),
    url("/fonts/woff/Dana-Hairline.woff") format("woff");
}

@font-face {
  font-family: "Dana";
  font-style: normal;
  font-weight: 200;
  src:
    url("/fonts/woff2/Dana-Thin.woff2") format("woff2"),
    url("/fonts/woff/Dana-Thin.woff") format("woff");
}

@font-face {
  font-family: "Dana";
  font-style: normal;
  font-weight: 300;
  src:
    url("/fonts/woff2/Dana-UltraLight.woff2") format("woff2"),
    url("/fonts/woff/Dana-UltraLight.woff") format("woff");
}

@font-face {
  font-family: "Dana";
  font-style: normal;
  font-weight: 350;
  src:
    url("/fonts/woff2/Dana-Light.woff2") format("woff2"),
    url("/fonts/woff/Dana-Light.woff") format("woff");
}

@font-face {
  font-family: "Dana";
  font-style: normal;
  font-weight: 400;
  src:
    url("/fonts/woff2/Dana-Regular.woff2") format("woff2"),
    url("/fonts/woff/Dana-Regular.woff") format("woff");
}

@font-face {
  font-family: "Dana";
  font-style: normal;
  font-weight: 500;
  src:
    url("/fonts/woff2/Dana-Medium.woff2") format("woff2"),
    url("/fonts/woff/Dana-Medium.woff") format("woff");
}

@font-face {
  font-family: "Dana";
  font-style: normal;
  font-weight: 600;
  src:
    url("/fonts/woff2/Dana-DemiBold.woff2") format("woff2"),
    url("/fonts/woff/Dana-DemiBold.woff") format("woff");
}

@font-face {
  font-family: "Dana";
  font-style: normal;
  font-weight: 700;
  src:
    url("/fonts/woff2/Dana-Bold.woff2") format("woff2"),
    url("/fonts/woff/Dana-Bold.woff") format("woff");
}

@font-face {
  font-family: "Dana";
  font-style: normal;
  font-weight: 800;
  src:
    url("/fonts/woff2/Dana-ExtraBold.woff2") format("woff2"),
    url("/fonts/woff/Dana-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Dana";
  font-style: normal;
  font-weight: 900;
  src:
    url("/fonts/woff2/Dana-Black.woff2") format("woff2"),
    url("/fonts/woff/Dana-Black.woff") format("woff");
}

:root {
  --background: #fffaf3;
  --foreground: #2d2d2d;
}

[data-theme="dark"] {
  --background: #1b211a;
  --foreground: #fffaf3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #73976a;
  --font-sans: "Dana", ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Dana", ui-sans-serif, system-ui, sans-serif;
}
